<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
	 <!-- google maps javascript -->
   
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"></script>
	
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>	   
       <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
	
  </head>
  <body ng-app="starter">
   <ion-nav-bar animation="nav-title-slide-ios7" 
                 type="bar-positive" 
                 back-button-type="button-icon" 
                 back-button-icon="ion-arrow-left-c"></ion-nav-bar>
    <ion-nav-view animation="slide-left-right"></ion-nav-view>
 <script id="signin.html" type="text/ng-template">
      <ion-view title="Signm">
	  <ion-content has-header="true">
       <button class="button icon-left ion-star button-positive"style ="margin-top: 5px;margin-left: 5px" ng-click="goWecome()">Go Welcome</button>
		

        </ion-content>
      </ion-view>
    </script>
	
	 <script id="welcome.html" type="text/ng-template">
      <ion-view title="Welcome">
	  
		  <ion-header-bar class="bar-stable">
      <h1 class="title">Map</h1>
    </ion-header-bar>

    <ion-content scroll="false">
      <map on-create="mapCreated(map)"></map>
    </ion-content>

    <ion-footer-bar class="bar-stable">
      <a ng-click="centerOnMe()" id="googleMap" class="button button-icon icon ion-navigate"></a>
    </ion-footer-bar>
      </ion-view>
	  
	 
    </script>
  </body>
</html>
